<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>

<body>
  <h1>Add Subject to Student</h1>

  <table>
      <tr>
        <td>First Name</td>
        <td><%= data.firstName %></td>
      </tr>
      <tr>
        <td>Last Name</td>
        <td><%= data.lastName %></td>
      </tr>
      <tr>
        <td>Email</td>
        <td><%= data.email %></td>
      </tr>
      <br>
  </table>
<form action="/students/<%= data.id %>/addSubject" method="POST">
  <select name="subject">
    <% subj.forEach(function(e) { %>
      <option name="subject"><%= e.subjectName %></option>
    <% }) %> 
  </select>
  <input type="submit" value="Submit">
</form>
  

</body>

</html>