<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<%- include('./partials/styles.ejs') %>

<body>
    <%- include("./partials/navbar.ejs") %>
  <h1>Add Score to Student</h1>

  <table>
      <tr>
        <td>First Name</td>
        <td><%= data.firstName %></td>
      </tr>
      <tr>
        <td>Last Name</td>
        <td><%= data.lastName %></td>
      </tr>
      <tr>
        <td>Email</td>
        <td><%= data.email %></td>
      </tr>
      <br>
  </table>
<form action="/subjects/<%= data.id %>/score" method="POST">
  Score:<br>
  <input type="text" name="score">
  <br>
  <input type="submit" value="Submit">
</form>
  

</body>

</html>