<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<%- include('./partials/styles.ejs') %>

<body>
    <%- include("./partials/navbar.ejs") %>
  <h1>Add Subject to Student</h1>

  <table>
    <tr>
      <th>Name</th>
      <th>Score</th>
    </tr>

    <% data.Students.forEach(e => { %>
      <tr>
          <td><%= e.firstName + " " + e.lastName %></td>
          <% if (!e.StudentSubject.score) { %>
            <td><a href="/subjects/<%= e.id%>/score">Give Score</a></td>
          <% } else { %>
            <td><%= score(e.StudentSubject.score) %></td>
         <% } %>
        </tr>
    <% }) %>

      
  </table>


</body>

</html>