<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>

<body>
  <h1>Subjects</h1>
  <h2><a href="/subjects/add">add subject</a></h2>

  <table>
    <tr>
      <th>id</th>
      <th>Subject Name</th>
      <th>Teachers</th>
      <th>Actions</th>
    </tr>
    <% data.forEach(e => { %>
      <tr>
        <td><%= e.id %></td>
        <td><%= e.subjectName %></td>
        <td>
        <ol>
          <%= e.teachers %>
          <%if(e.dataValues.teachers.length) {%>
            <%  e.dataValues.teachers.forEach(t => {%>
              <li><%= t.firstName + " " + t.lastName %><br></li>
           <% }) %>
          </ol>
          <% }%>
        
      </td>
      <td><a href="/subjects/<%= e.id%>/enrolled-students">Enrolled Students</a></td>
      </tr>
    <% }) %>

  </table>

</body>

</html>