<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <form action="/teachers/edit/<%= data.id %>" method="post">

    First name:<br>
    <input type="text" name="firstName" value="<%= data.firstName%>">

    <br> Last name:<br>
    <input type="text" name="lastName" value="<%= data.lastName%>">
    <br>
    
    <br> Email:<br>
    <input type="text" name="email" value="<%= data.email%>">
    <br><br>
    <select name="subject">
        <% subj.forEach(function(e) { %>
          <% if (data.SubjectId && e.id == data.SubjectId) {%>
              <option name="subject" value="<%= e.subjectName %>" selected><%= e.subjectName %></option>
              <% } else {%>
              <option name="subject" value="<%= e.subjectName %>"><%= e.subjectName %></option>
              <%}%>
        <% }) %> 
    </select>
    <br>

    <input type="submit" value="Submit">
  </form>

</body>

</html>